.nav {
    background: #FFF;
    height: 45px;
    line-height: 45px;
    box-shadow: 3px 3px 3px #AAA;
    border-radius: 5px;
}

.search-form__item-select{
    border: none;
    width: 100px;
    margin: 0 10px;
}

.bi-search {
    line-height: 10px;
    color: #CCC;
}

.search-form__item-input {
    border: none;
    width: 270px;
}

.shop-cards {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
}

.card {
    background: #FFF;
    width: 250px;
    height: 270px;
    margin: 10px 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #AAA;
}

.card__image {
    width: 250px;
    height: 150px;
    border-radius: 5px 5px 0 0;
}

.card-info {
    margin: 20px;
}

.shop__name {
    font-weight: bold;
    margin:  0px 0 0 0;
    line-height: 15px;
}

.shop__area,
.shop__genre {
    display: inline;
    font-size: 11px;
}

.detail {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form {
    display: inline-block;
}

.shop__detail {
    width: 90px;
    height: 28px;
    background: #36F;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.shop__bookmark {
    text-decoration: none;
    border: none;
    background: #FFF;
    cursor: pointer;
    text-align: right;
}

.gray {
        color: #CCC;
}

.red {
    color: #F00;
}

.bi-heart-fill {
    font-size: 30px;
}
